---
---
// Headers
$header-heading-color: #f0f0f0 !default;
$header-bg-color: #bdd0db !default;
$header-bg-color-secondary: #6a8494 !default;
// Text
$section-headings-color: #000001 !default;
$body-text-color: #505057 !default;
$body-link-color: #658cdb !default;
$blockquote-text-color: #93939e !default;

@import "{{ site.theme }}";

// Adding 'Contents' headline to toc
#markdown-toc::before {
}

// Style for toc listing
#markdown-toc ul {
    list-style: disc;
}
// Other style misc for toc
#markdown-toc {
    border: none;
    padding: 1.5em;
    list-style: disc;
    display: none;
}