---
---

// Headers
$header-heading-color: #274472 !default;
$header-bg-color: #5885AF !default;
$header-bg-color-secondary: #41729F !default;

@import "{{ site.theme }}";

.btn:hover {
    color: #274472;
    border-color: #5885AF;
    background-color: #41729F;
}