---
---
// Headers
$header-heading-color: #9FB1BC !default;
$header-bg-color: #6E8898 !default;
$header-bg-color-secondary: #2E5266 !default;

@import "{{ site.theme }}";

.btn {
    color: #13294B;
    border-color: #13294B;
    background-color: #F8FAFC;
}

.btn:hover {
    color: #F8FAFC;
    border-color: #13294B;
    background-color: #13294B;
}